/vendor
/node_modules
/public/storage
Homestead.yaml
Homestead.json
.env
.env.example
.gitattributes
.idea/
artisan
bootstrap/
composer.lock
config/
gulpfile.js
package.json
phpunit.xml
readme.md
resources/
server.php
storage/
tests/
public/
app/Console/
app/Events/
app/Exceptions/
app/Http/
app/Jobs/
app/Listeners/
app/Policies/
app/Providers/
database/.gitignore
database/factories/
database/seeds/